body
{
  background: linear-gradient(lightblue,lightpink,white);
  height: 633px;
}
.h1
{
 font-size: 28px;
 font-weight: bold;
 position: absolute;
 top: 220px;
 left: 80px;
}

.high
{
font-size: 28px;
font-weight: bold;
position: absolute;
bottom: 140px;
left: 50px;
}

